{% extends "base.html" %}

{% block head %}
<title>{{ post.post_name }}</title>
{% endblock %}

{% block content %}
<div class="card card-body mt-3">
    <div class="row">
        <div class="col-sm-8"><h3 class="card-title">{{ post.title }}</h3></div>
        <div class="col-sm-4">
            {% if user == post.author %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="icon-link" href="{% url 'block0:edit_post' post.id %}">
                    <i class="bi bi-pencil"></i>
                </a>
                <a class="icon-link" href="{% url 'block0:delete_post' post.id %}">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <h5 class="card-title">{{ post.content }}</h5>
    <p class="card-text">
        <img src="{{ post.author.profile.avatar.url }}" alt="avatar" class="rounded-circle bg-light mx-1 avatar" width="32" height="32">
        <small class="text-muted">
            <a href="{% url 'users:user_page' post.author_id %}">@{{ post.author.username }}</a> · {{ post.publication_date }}
        </small>
    </p>
    <hr>
    <div class="card-body">
        <div class="row">
        <div class="col-sm-3"><h4 class="card-title">Comments</h4></div>
        <div class="col-sm-9 d-flex flex-row-reverse">
        <form method="post" action="{% url 'block0:leave_comment' post.id %}">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-auto">
                    <label for="content" class="col-form-label">Leave your comment</label>
                </div>
                <div class="col-auto">
                    <input required="required" type="text" id="content" name="content" class="form-control ">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Comment</button>
                </div>
            </div>
        </form>
        </div>
        </div>
        {% for comment in post.comment_set.all %}
        <hr>
        <h5 class="card-text">{{ comment.content }}</h5>
        <p class="card-text">
            <img src="{{ comment.author.profile.avatar.url }}" alt="avatar" class="avatar mx-1 rounded-circle bg-light" width="32" height="32">
            <small class="text-muted">
                <a href="{% url 'users:user_page' comment.author_id %}">@{{ comment.author.username }}</a> · {{ comment.publication_date }}
            </small>
        </p>
        {% empty %}
            <hr>
            <p class="card-text">Nothing here...</p>
        {% endfor %}
    </div>
</div>

{% endblock %}