.bg-for-site {
    background-image: url('../img/img.jpg');
    background-size: 40px, 40px;
    background-position: 50% 50%;
}

.card-center-asdf {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.asdf{
    justify-self: left;
}