<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld</title>
    <style>
    {% load static %}
    body {
        background-image: url({% static 'img/7bed3dc2201a9e6ddd9908624d1d9674.jpg' %});
        background-size: 10% 10%;
    }
    </style>
</head>
<body bgcolor="#000000">
<font style="color: white; font-family: Helvetica, Arial, sans-serif; font-size: 40px; font-weight: bold; font-style: italic; text-transform: uppercase;">
    <center>
        Peter Griffith!!!!11!1
    </center>
</font>
<a href="https://www.youtube.com/watch?v=0Aa2HBvmPxg" target="_blank">
    <center>
        {% load static %}
        <img src="{% static 'img/7bed3dc2201a9e6ddd9908624d1d9674.jpg' %}" alt="peter griffith" width="500" height="500" style="border: 2px solid white">
    </center>
</a>
</body>
</html>